Application/WebApp/src/main/java/generated/BibliothekServiceService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.bibliothek.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.bibliothek.com/" name="BibliothekServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.bibliothek.com/" schemaLocation="http://laptop-nv02e10l:8080/bibliothek5189717931858058431/BibliothekServiceService?xsd=1"/>
</xsd:schema>
</types>
<message name="allLoans">
<part name="parameters" element="tns:allLoans"/>
</message>
<message name="allLoansResponse">
<part name="parameters" element="tns:allLoansResponse"/>
</message>
<message name="userLoansByPseudo">
<part name="parameters" element="tns:userLoansByPseudo"/>
</message>
<message name="userLoansByPseudoResponse">
<part name="parameters" element="tns:userLoansByPseudoResponse"/>
</message>
<message name="identification">
<part name="parameters" element="tns:identification"/>
</message>
<message name="identificationResponse">
<part name="parameters" element="tns:identificationResponse"/>
</message>
<message name="notRenderedLoans">
<part name="parameters" element="tns:notRenderedLoans"/>
</message>
<message name="notRenderedLoansResponse">
<part name="parameters" element="tns:notRenderedLoansResponse"/>
</message>
<message name="loanCreation">
<part name="parameters" element="tns:loanCreation"/>
</message>
<message name="loanCreationResponse">
<part name="parameters" element="tns:loanCreationResponse"/>
</message>
<message name="loanReturn">
<part name="parameters" element="tns:loanReturn"/>
</message>
<message name="loanReturnResponse">
<part name="parameters" element="tns:loanReturnResponse"/>
</message>
<message name="allOuvrages">
<part name="parameters" element="tns:allOuvrages"/>
</message>
<message name="allOuvragesResponse">
<part name="parameters" element="tns:allOuvragesResponse"/>
</message>
<message name="extendLoan">
<part name="parameters" element="tns:extendLoan"/>
</message>
<message name="extendLoanResponse">
<part name="parameters" element="tns:extendLoanResponse"/>
</message>
<message name="ouvragesSearch">
<part name="parameters" element="tns:ouvragesSearch"/>
</message>
<message name="ouvragesSearchResponse">
<part name="parameters" element="tns:ouvragesSearchResponse"/>
</message>
<portType name="BibliothekService">
<operation name="allLoans">
<input wsam:Action="http://webservice.bibliothek.com/BibliothekService/allLoansRequest" message="tns:allLoans"/>
<output wsam:Action="http://webservice.bibliothek.com/BibliothekService/allLoansResponse" message="tns:allLoansResponse"/>
</operation>
<operation name="userLoansByPseudo">
<input wsam:Action="http://webservice.bibliothek.com/BibliothekService/userLoansByPseudoRequest" message="tns:userLoansByPseudo"/>
<output wsam:Action="http://webservice.bibliothek.com/BibliothekService/userLoansByPseudoResponse" message="tns:userLoansByPseudoResponse"/>
</operation>
<operation name="identification">
<input wsam:Action="http://webservice.bibliothek.com/BibliothekService/identificationRequest" message="tns:identification"/>
<output wsam:Action="http://webservice.bibliothek.com/BibliothekService/identificationResponse" message="tns:identificationResponse"/>
</operation>
<operation name="notRenderedLoans">
<input wsam:Action="http://webservice.bibliothek.com/BibliothekService/notRenderedLoansRequest" message="tns:notRenderedLoans"/>
<output wsam:Action="http://webservice.bibliothek.com/BibliothekService/notRenderedLoansResponse" message="tns:notRenderedLoansResponse"/>
</operation>
<operation name="loanCreation">
<input wsam:Action="http://webservice.bibliothek.com/BibliothekService/loanCreationRequest" message="tns:loanCreation"/>
<output wsam:Action="http://webservice.bibliothek.com/BibliothekService/loanCreationResponse" message="tns:loanCreationResponse"/>
</operation>
<operation name="loanReturn">
<input wsam:Action="http://webservice.bibliothek.com/BibliothekService/loanReturnRequest" message="tns:loanReturn"/>
<output wsam:Action="http://webservice.bibliothek.com/BibliothekService/loanReturnResponse" message="tns:loanReturnResponse"/>
</operation>
<operation name="allOuvrages">
<input wsam:Action="http://webservice.bibliothek.com/BibliothekService/allOuvragesRequest" message="tns:allOuvrages"/>
<output wsam:Action="http://webservice.bibliothek.com/BibliothekService/allOuvragesResponse" message="tns:allOuvragesResponse"/>
</operation>
<operation name="extendLoan">
<input wsam:Action="http://webservice.bibliothek.com/BibliothekService/extendLoanRequest" message="tns:extendLoan"/>
<output wsam:Action="http://webservice.bibliothek.com/BibliothekService/extendLoanResponse" message="tns:extendLoanResponse"/>
</operation>
<operation name="ouvragesSearch">
<input wsam:Action="http://webservice.bibliothek.com/BibliothekService/ouvragesSearchRequest" message="tns:ouvragesSearch"/>
<output wsam:Action="http://webservice.bibliothek.com/BibliothekService/ouvragesSearchResponse" message="tns:ouvragesSearchResponse"/>
</operation>
</portType>
<binding name="BibliothekServicePortBinding" type="tns:BibliothekService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="allLoans">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="userLoansByPseudo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="identification">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="notRenderedLoans">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loanCreation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loanReturn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="allOuvrages">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="extendLoan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ouvragesSearch">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BibliothekServiceService">
<port name="BibliothekServicePort" binding="tns:BibliothekServicePortBinding">
<soap:address location="http://laptop-nv02e10l:8080/bibliothek5189717931858058431/BibliothekServiceService"/>
</port>
</service>
</definitions>